footer {
    background-color: #161C24;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  /* Estilos de los iconos de redes sociales */
  .redes-sociales {
    margin-bottom: 10px;
  }
  
  .redes-sociales a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
  }
  
  /* Estilos de los derechos de autor */
  .derechos {
    font-size: 14px;
  }